@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', 'Open Sans';
}

ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.17rem;
  font-weight: bold;
}

.ProseMirror {
  height: auto;
  outline: none;
}

.ProseMirror p{
  line-height: 1.5;
}

.link-styles{
  color: blue;
}