.form-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
}

.news-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 35rem;
    border: solid 0.120rem #1A3645;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem #02767e;
    color: #020202;
    text-decoration: none;
}

input{
    border: solid 0.120rem #1A3645;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
